.introduce-name {
    font-family: VVRNIFppcmtvbidGY;
    font-size: 45px;

}

.heart-infinite {
    animation: heartbeat 1.1s infinite;
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}